@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Jenil parmar</h3>
<body>
    <form>
        <label >Number 1:</label>
        <input type="number" required><br>

        <label>Number 2:</label>
        <input type="number" required><br><br>

        <label>Result:</label>
        <output name="result"></output><br><br>

        <button type="submit">Calculate</button>
    </form>

    @Section NewSection {
        <p>my paragraph</p>

    }


</body>